<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Estudiante</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="container">
    <h1>Control de Alumnos</h1>

    <!-- Formulario para agregar estudiante -->
    <form th:action="@{/students/form}" id="form-estudiante" method="post" th:object="${student}">
        <!-- Información personal -->
        <label for="matricula">Matrícula:</label>
        <input type="text" id="matricula" th:field="*{enrollmentNumber}" required><br>

        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" th:field="*{name}" required><br>

        <label for="apellidos">Apellidos:</label>
        <input type="text" id="apellidos" th:field="*{lastName}" required><br>

        <label for="curp">CURP:</label>
        <input type="text" id="curp" th:field="*{CURP}" required><br>

        <label for="fecha-nacimiento">Fecha de Nacimiento:</label>
        <input type="date" id="fecha-nacimiento" th:field="*{dateOfBirth}" required><br>

        <label for="genero">Género:</label>
        <select id="genero" th:field="*{gender}" required>
            <option value="masculino">Masculino</option>
            <option value="femenino">Femenino</option>
            <option value="otro">Otro</option>
        </select><br>

        <label for="direccion">Dirección:</label>
        <input type="text" id="direccion" th:field="*{address}" required><br>

        <label for="telefono">Teléfono:</label>
        <input type="tel" id="telefono" th:field="*{phone}" required><br>

        <label for="correo">Correo Institucional:</label>
        <input type="email" id="correo" th:field="*{email}" required><br>

        <label for="tipo-sangre">Tipo de Sangre:</label>
        <input type="text" id="tipo-sangre" th:field="*{bloodType}" required><br>

        <label for="tutor">Tutor:</label>
        <input type="text" id="tutor" th:field="*{guardian}" required><br>

        <!-- Información académica -->
        <label for="nivel-educativo">Nivel Educativo:</label>
        <select id="nivel-educativo" th:field="*{educationLevel}" required>
            <option value="preescolar">Preescolar</option>
            <option value="primaria">Primaria</option>
            <option value="secundaria">Secundaria</option>
            <option value="preparatoria">Preparatoria</option>
        </select><br>

        <label for="grado">Grado:</label>
        <input type="number" id="grado" th:field="*{grade}" required><br>

        <label for="grupo">Grupo:</label>
        <input type="text" id="grupo" th:field="*{group}" required><br>

        <button type="submit">Guardar Estudiante</button>
    </form>

    <br>
    <a href="/students">
        <button class="volver">Volver al Sistema</button>
    </a>
</div>
</body>
</html>